<h1><%= @idea.idea %></h1>
<form class ="navbar-form navbar-left" role="search" action="/create-new-idea"
  <div class="form-group">
    <input type="text" class="form-control" name="idea" placeholder="What's your idea?">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>


  <div class="stripe">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <a href ="/idea/<%= @idea.id %>/edit">edit</a>
        </div>
      </div>
    </div>
  </div>


  
 